adf-healthcare-pipelinemk/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-healthcare-pipelinemk"
		},
		"LS_REST_DiseaseSH_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://disease.sh/v3/covid-19/"
		},
		"LS_KeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kv-healthcare-mk.vault.azure.net/"
		},
		"LS_ADLS_DataLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://healthcaredatalakemk.dfs.core.windows.net/"
		},
		"LS_AzureSQL_Gold_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-healthcare-mk2.database.windows.net"
		},
		"LS_AzureSQL_Gold_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "db-healthcare-gold"
		},
		"LS_AzureSQL_Gold_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "sqladmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/LS_REST_DiseaseSH')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to Disease.sh COVID API",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('LS_REST_DiseaseSH_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_KeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('LS_KeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_REST_CovidCountries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_REST_DiseaseSH",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "countries"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_REST_DiseaseSH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_DataLake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connect to your Bronze/Silver storage",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_DataLake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "storage-account-key"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSQL_Gold')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_AzureSQL_Gold_properties_typeProperties_server')]",
					"database": "[parameters('LS_AzureSQL_Gold_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_AzureSQL_Gold_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "LS_KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "sql-password"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_KeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Bronze_CovidRaw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "covid/countries",
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Gold_TopCountries')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSQL_Gold",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "country",
						"type": "varchar"
					},
					{
						"name": "continent",
						"type": "varchar"
					},
					{
						"name": "cases",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "deaths",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "recovered",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "death_rate_pct",
						"type": "float",
						"precision": 15
					},
					{
						"name": "recovery_rate_pct",
						"type": "float",
						"precision": 15
					},
					{
						"name": "tests_per_million",
						"type": "float",
						"precision": 15
					},
					{
						"name": "population",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ingestion_date",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "gold_top_countries"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSQL_Gold')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_CovidCleaned')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DataLake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "covid/countries",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyCovidDataToBronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_REST_CovidCountries",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Bronze_CovidRaw",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-24T06:44:42Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_REST_CovidCountries')]",
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_CovidRaw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Gold_LoadTopCountries')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyToGoldTopCountries",
						"description": "We read from Silver Parquet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFolderPath": "covid/countries",
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE gold_top_countries",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "continent",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "continent",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "cases",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "cases",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "deaths",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "deaths",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "recovered",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "recovered",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "active",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "active",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "critical",
											"type": "Int16",
											"physicalType": "INT_16"
										},
										"sink": {
											"name": "critical",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "tests",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "tests",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "Int32",
											"physicalType": "INT32"
										},
										"sink": {
											"name": "population",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "updated",
											"type": "Int64",
											"physicalType": "INT64"
										},
										"sink": {
											"name": "updated",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "death_rate_pct",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "death_rate_pct",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "recovery_rate_pct",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "recovery_rate_pct",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "tests_per_million",
											"type": "Double",
											"physicalType": "DOUBLE"
										},
										"sink": {
											"name": "tests_per_million",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "ingestion_date",
											"type": "DateTime",
											"physicalType": "DATE"
										},
										"sink": {
											"name": "ingestion_date",
											"type": "Date",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_Silver_CovidCleaned",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Gold_TopCountries",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-24T10:15:26Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Silver_CovidCleaned')]",
				"[concat(variables('factoryId'), '/datasets/DS_Gold_TopCountries')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DF_Silver_CleanCovidData')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Bronze_CovidRaw",
								"type": "DatasetReference"
							},
							"name": "BronzeSource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver_CovidCleaned",
								"type": "DatasetReference"
							},
							"name": "SilverSink",
							"rejectedDataLinkedService": {
								"referenceName": "LS_ADLS_DataLake",
								"type": "LinkedServiceReference"
							}
						}
					],
					"transformations": [
						{
							"name": "SelectColumns"
						},
						{
							"name": "AddCalculatedColumns"
						},
						{
							"name": "FilterValidRows"
						}
					],
					"scriptLines": [
						"source(output(",
						"          active as integer,",
						"          activePerOneMillion as double,",
						"          cases as integer,",
						"          casesPerOneMillion as integer,",
						"          continent as string,",
						"          country as string,",
						"          countryInfo as ({_id} as short, flag as string, iso2 as string, iso3 as string, lat as double, long as double),",
						"          critical as short,",
						"          criticalPerOneMillion as double,",
						"          deaths as integer,",
						"          deathsPerOneMillion as short,",
						"          oneCasePerPeople as integer,",
						"          oneDeathPerPeople as integer,",
						"          oneTestPerPeople as short,",
						"          population as integer,",
						"          recovered as integer,",
						"          recoveredPerOneMillion as double,",
						"          tests as integer,",
						"          testsPerOneMillion as integer,",
						"          todayCases as boolean,",
						"          todayDeaths as boolean,",
						"          todayRecovered as short,",
						"          updated as long",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     documentForm: 'documentPerLine') ~> BronzeSource",
						"BronzeSource select(skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectColumns",
						"SelectColumns derive({ death_rate_pct} = round((toDouble(deaths) / toDouble(cases)) * 100, 2),",
						"          recovery_rate_pct = round((toDouble(recovered) / toDouble(cases)) * 100, 2),",
						"          tests_per_million = round(toDouble(tests) / (toDouble(population) / 1000000), 0),",
						"          ingestion_date = currentDate()) ~> AddCalculatedColumns",
						"AddCalculatedColumns filter(cases > 0 && !isNull(country) && !isNull(continent)) ~> FilterValidRows",
						"FilterValidRows sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     partitionFileNames:['covid_countries_cleaned.parquet'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          active,",
						"          cases,",
						"          continent,",
						"          country,",
						"          critical,",
						"          deaths,",
						"          population,",
						"          recovered,",
						"          tests,",
						"          updated,",
						"          recovery_rate_pct,",
						"          tests_per_million,",
						"          ingestion_date,",
						"          death_rate_pct = { death_rate_pct}",
						"     ),",
						"     partitionBy('hash', 1)) ~> SilverSink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Bronze_CovidRaw')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_CovidCleaned')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Silver_TransformCovidData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_Silver_CleanCovidData",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Silver_CleanCovidData",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"BronzeSource": {},
									"SilverSink": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-24T08:49:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/DF_Silver_CleanCovidData')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_Master_HealthcarePipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RunBronze",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "CopyCovidDataToBronze",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunSilver",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunBronze",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Silver_TransformCovidData",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "RunGold",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "RunSilver",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_Gold_LoadTopCountries",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-24T11:19:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/CopyCovidDataToBronze')]",
				"[concat(variables('factoryId'), '/pipelines/PL_Silver_TransformCovidData')]",
				"[concat(variables('factoryId'), '/pipelines/PL_Gold_LoadTopCountries')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Schedule')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Every 1 Day at 6:00 AM",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_Master_HealthcarePipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2026-04-23T06:00:00",
						"timeZone": "US Mountain Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_Master_HealthcarePipeline')]"
			]
		}
	]
}